<!DOCTYPE html>

{% load staticfiles %}


<html lang="en">
<head>

<!-- Bootstrap css -->
    <link href=" {% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
<!-- Custom css -->
    <link href=" {% static "css/custcss.css" %}" rel="stylesheet" media="screen">

</head>

<body>



<div class="hero-unit" style="margin-bottom: 0px">
                <h1>South Westminster Legal Advice Centre</h1>
           
   
                     
              </div>

    <div class="navbar">
  <div class="navbar-inner">
   
    <ul class="nav">
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "client_search" %}">Find Client</a></li>
      <li><a href="{% url "client_add"%}">New Client</a></li>
      <li><a href="{% url "matter_list"%}">Find Case</a></li>
       {% if user.is_authenticated %}
      <li><a href="{% url "account_logout"%}">Logout</a></li>
       {% else %}
       <li><a href="{% url "account_login"%}">Login</a></li>
       {% endif %}


    </ul>
  </div>
</div>
   <div>

<ul class="messages">
            {% for message in messages %}
            <li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"><strong>{{ message.tags|capfirst }}</strong> {{ message }}</li>
            {% endfor %}
        </ul>




</div>


<div class="container-fluid" bgcolor="#E6E6FA">

{% block content %}
<title>Law Centre</title>
{% load staticfiles %}



{% endblock %}


        </div>

        


    <div class="span9">





</div>

   <div class="liquifooter">

          
            <p></p>
            {% if user.is_authenticated %}
              <a href="/admin" class="footerblk">Admin Site</a> &nbsp; &nbsp;  <a href="/accounts/logout/" class="footerblk" >Logout</a>
            {% endif %}
            
          
    
      </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62371497-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
