   {% load staticfiles %}

   <!-- js_jquery.html included in template-->
   <script type='text/javascript' src=" {% static "/static/js/jquery-1.9.1.js" %}"></script>

   <script type="text/javascript" src=" {% static "/static/js/bootstrap.min.js" %}" ></script> 
   <!-- end of js_jquery.html -->