{% if is_paginated %}
    <div class="pagination">
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?sort_by={{ sort_by }}&order={{ order }}&page={{ page_obj.previous_page_number }}">&larr;</a></li>
            {% endif %}

            {% for page in paginator.page_range %}
            <li{% ifequal page page_obj.number %} class="active"{% endifequal %}>
                <a href="?sort_by={{ sort_by }}&order={{ order }}&page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?sort_by={{ sort_by }}&order={{ order }}&page={{ page_obj.next_page_number }}">&rarr;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
