{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<!-- Start of form -->
{% block content %}

{% load i18n %}



{% if form.errors %}
<div class="alert alert-error">
  Your username and password didn't match. Please try again.
</div>  
{% else %}
<div class="alert alert-info">
  Log in below. If you have trouble logging in speak to your system administrator.
  </div>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}

<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" id="submit"/>
<input type="hidden" name="next" value="{{ next }}" />
</form>









<!-- End Of form -->
{% endblock %}