.liquifooter {
background-color:#1787d1;
height: 30px;
text-align: center;
font-size:12px;
color:#CC0000;
font-family:inherit;
padding-top: 0px;
width: 100%;
position:fixed;
left: 0px;
bottom: 0px;
}
.footerblk
{
	color:black;

}


.mkwdr
{

	width: 200px;
}


.hugeButton, .hugeButton2 { width: 100%; font-size: 28px; text-decoration: none; display: block; padding: 25px 0; border: 5px dashed #222;  text-align: center; position: relative; text-transform: uppercase; color: #555 !important; }
		
		.hugeButton:hover, .hugeButton2:hover { background: #111; text-shadow: 2px 2px 0 #000; color: #ff0000 !important;}
		

.span3
{text-align: center;}

.hero-unit {
padding: 30px;

}
.container-fluid {
padding-bottom: 100px;
}