{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>


{% include "js_jquery.html" %}


<script type='text/javascript'>//<![CDATA[ 
$(window).load(function(){
$('a[rel=popover]').popover();
});//]]>  

</script>
 
  <style type='text/css'>
    .popover {
    z-index: 9999;
    position: fixed;
}
  </style>

</head>
<title>Law Centre - {{client}}</title>
				
				<div class="page-header">
				<a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal">Add Case</a>
				<a href="{% url 'client_update' client.pk %}" role="button" class="btn btn-primary btn-large">Update Client</a>

		


				</div>

				<div class="page-header">
				<h3>{{client}}</h3>
				</div>
						<h4> Client Details </h4>
						<div class="span6">
						<p> <b> First Name </b> - {{ client.first_name }}</p> 
						
						<p> <b> Surname </b> - {{ client.surname }}</p> 
						<p> <b> Title </b> - {{ client.title }}</p> 
						<p> <b> First Address Line </b> - {{ client.first_address_line }}</p> 
						<p> <b> Second Address Line </b> - {{ client.second_address_line }}</p>
						<p> <b> Third Address Line </b> - {{ client.third_address_line }}</p>
						<p> <b> Postcode </b> - {{ client.postcode }}</p> 
						<p> <b> Town </b> - {{ client.town }}</p> 
						<p> <b> Country </b> - {{ client.country }}</p> 
						<p> <b> Landline Number </b> - {{ client.landline_number }}</p> 
						<p> <b> Mobile Number </b> - {{ client.mobile_number }}</p> 
						<p> <b> Email Address </b> - {{ client.email_address }}</p> 
						<p> <b> Referrer </b> - {{ client.referrer }}</p> 
						<p> <b> Additional Info </b> - {{ client.additional_info }}</p>
						</div>

				<div class="span6">

				<span class="label label-info large">Existing Cases</span>
					
				{% for matter in client.matter.all %}

				<li>

				<b>Case Type</b> - {{matter.title}} , <b>Case Number</b> - {{matter.ordered_num}}
				<a class="btn btn-mini" href="{% url 'matter_detail' matter.pk %}"> <i class="icon-search">  </i> View </a> 
                <a class="btn btn-mini" href="{% url 'matter_update' matter.pk %}"> <i class="icon-refresh"> </i> Update</a> 
				 
				 </li>
				 <br>

				 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="label label-warning large">Visits</span>
				 		<br></br>
				     {% for visit in matter.visit.all %}



				 	     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp;&nbsp;&nbsp;<b>{{visit.date_of_visit|date:"D d M Y"}} </b>  

				 	     
				 	 {% endfor %}

				 {% empty %}

				<div class="alert">
                   
                        <strong>No Cases</strong>
                </div>

				{% endfor %}
				</div>
			


<!-- Modal -->

<div id="myModal" class="modal hide fade">
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Case</h3>
    </div>
    
    <div class="modal-body"> 
        
        
        
    </div>

 <form method="post" action="{% url 'matter_add' client.pk %}" class="form form-horizontal" style="margin-bottom: 0">{% csrf_token %}
            

            <div class="modal-body">
                {{matterform}}
            </div>

            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-large">Close</a>
              <button class="btn btn-large" type="submit" id="submit">Submit</button>
        
            </div>
</form>
    
    
</div>

<!-- End of Modal -->




{% endblock %}