{% extends "base.html" %}
{% load staticfiles %}


<!-- Start of form -->
{% block content %}
<title>Law Centre - {% if update %}Update {% else %}Add a New{% endif %}Client</title>


                             <form  action="" method="post"> {% csrf_token %}
                                 <fieldset>
                                     <legend >{% if update %}Update {% else %}Add a New Client{% endif %}{{client}}</legend> 
                                     <p><p><button class="btn btn-large" type="submit" id="submit">Submit</button></p></p>
                                     {{ form }}
                                     <p><p><button class="btn btn-large" type="submit" id="submit">Submit</button></p></p>
                                 </fieldset>
                             </form>


<!-- End Of form -->
{% endblock %}
