{% extends "base.html" %}
{% load staticfiles %}
{% load sorting %}
{% block content %}
<head>



</head>
<title>Law Centre - Case List</title>
				
			




		

				<div class="page-header">
				<h3>Cases List</h3>
				</div>

   <div class="pagination filter" style="float: right;">
        <ul>
        <li class="{% if filter == 'all' %}active{% endif %}">
        <a href="{% url "matter_list_filter" 'all' %}?sort_by={{ sort_by }}&order={{ order }}">All</a>
        </li>


        <li class="{% if filter == 'family' %}active{% endif %}">
        <a href="{% url "matter_list_filter" 'family' %}?sort_by={{ sort_by }}&order={{ order }}">Family Cases</a>
        </li>

          <li class="{% if filter == 'tax' %}active{% endif %}">
        <a href="{% url "matter_list_filter" 'tax' %}?sort_by={{ sort_by }}&order={{ order }}">Tax Cases</a>
        </li>

          <li class="{% if filter == 'Housing' %}active{% endif %}">
        <a href="{% url "matter_list_filter" 'Housing' %}?sort_by={{ sort_by }}&order={{ order }}">Housing Cases</a>
        </li>



      </ul>
    </div>



		<table class="table table-bordered table-hover table-condensed">
    <thead>

        <tr>
            
            <th>{% sort_by 'client' %}</th>
            <th>{% sort_by 'title' %}</th>
            <th>{% sort_by 'created' %}</th>
            <th class="actions"></th>
        </tr>
    </thead>


  <tbody>


        {% for object in object_list %}
        <tr>
        
            
            <td>{{object.client}}</td>
     

           
            <td>{{object.title}}</td>
       
            <td>{{object.date_created|date:"D d M Y"}}</td>
            <td>
                    <a class="btn btn-mini" href="{% url 'matter_detail' object.pk %}"> <i class="icon-search"> </i>  view</a>
                    <a class="btn btn-mini" href="{% url 'matter_update' object.pk %}"> <i class="icon-refresh"> </i>  update</a>
                    <a class="btn btn-mini" href="{% url 'visit_add' object.pk %}"> <i class="icon-refresh"> </i>  add visit</a>
            </td>


        </tr>
        </a>
        {% endfor %}
</tbody>
    </table>
						
{% include "pagination.html" %}
			






{% endblock %}