{% extends "base.html" %}
{% load staticfiles %}


<!-- Start of form -->
{% block content %}
<title>Law Centre - {% if update %}Update {% else %}Add a New{% endif %}Case </title>


                             <form  action="" method="post"> {% csrf_token %}
                                 <fieldset>
                                     <legend >{% if update %}Update case {% else %}Add a New Case {% endif %} for client {{client_id|stringformat:"03d"}}</legend> 
                                     
                                     {{ form }}
                                     <p><button class="btn btn-large" type="submit" id="submit">Submit</button></p>
                                     
                                 </fieldset>
                             </form>


<!-- End Of form -->
{% endblock %}
