{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>


{% include "js_jquery.html" %}


<script type='text/javascript'>//<![CDATA[ 
$(window).load(function(){
$('a[rel=popover]').popover();
});//]]>  

</script>
 
  <style type='text/css'>
    .popover {
    z-index: 9999;
    position: fixed;
}
  </style>

</head>
<title>Law Centre - {{matter}}</title>
				
				<div class="page-header">
				<a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal">Add Visit</a>
                <a href="{% url "client_detail" matter.client.pk %}" role="button" class="btn btn-primary btn-large" data-toggle="modal">Back to client page</a>
                 <a href="{% url "matter_update" matter.pk %}" role="button" class="btn btn-primary btn-large" data-toggle="modal">Update Case </a>

				</div>

				<div class="page-header">
				<h3>Case Page : {{matter}}</h3>
				</div>
						<div class="span12">

                  <div class="span3">
    
						          <p> <b> Client </b> - {{matter.client.first_name}} , Client ID {{matter.client.pk|stringformat:"05d"}}</p> 
						
                      <p> <b> Date Created </b> - {{ matter.date_created|date:"D d M Y" }}</p> 
						          <p> <b> Title </b> - {{ matter.title }}</p> 
                  </div>

                  <div class="span3">
    
                    <p> <b> Phone </b> - {{matter.client.phone_number}} </p> 
            
                    <p> <b> Email </b> - {{matter.client.email_address}}</p> 
           
                  </div>

                  
            </div>

             <div class="span6">
    
                    <p> <b> Notes </b>: <pre style="word-break: normal"> {{ matter.notes }}</pre></p> 
            
                    
           
                  </div>


					
                        <div class="span6">

                <span class="label label-info large">Visits</span>
                    
                {% for visit in matter.visit.all %}

                <li> <b>Date of visit</b> - {{visit.date_of_visit|date:"D d M Y" }}
                 
                 
                 </li>
                 <br>

                <pre style="word-break: normal;margin-left:27px"> {{ visit.additional_notes }}</pre></p>
                <br>
                 {% empty %}

                <div class="alert">
                   
                        <strong>No Visits</strong>
                </div>

                {% endfor %}
                </div>
            
				

				
			


<!-- Modal -->

<div id="myModal" class="modal hide fade">
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Notes To case</h3>
    </div>
    
    <div class="modal-body"> 
        
        
        
    </div>

 <form method="post" action="{% url 'visit_add' matter.pk %}" class="form form-horizontal" style="margin-bottom: 0">{% csrf_token %}
            

            <div class="modal-body">
                {{visitform}}
            </div>

            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-large">Close</a>
                <button class="btn btn-large" type="submit" id="submit">Submit</button>
        
            </div>
</form>
    
    
</div>

<!-- End of Modal -->




{% endblock %}