
{% extends "base.html" %}


{% block content%}
<title>Law Centre - Search For Client</title>
<div class="container">

<div class="page-header">
    <h2>Client list</h2>
</div>
    <form class="form-inline" action="" method="GET">
        {{ form }}
        <button class="btn" type="submit" id="submit">Search</button>
        </fieldset>
    </form>

    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th>Surname</th>
            <th>1st name</th>  
            <th>Id</th> 
            <th> Actions </th>

        </tr>
        {% for object in object_list %}
        <tr >
        
            {% if object.surname %}
            <td>{{object.surname}}</td>
            {% else %} 
            <td>n/a</td>
            {% endif %}

            {% if object.first_name %}
            <td>{{object.first_name}}</td>
            {% else %} 
            <td>n/a</td>
            {% endif %}
            <td>{{object.pk|stringformat:"05d"}}</td>
            <td>
                    <a class="btn btn-mini" href="{% url 'client_detail' object.pk %}"> <i class="icon-search"> </i>  view</a>
                    <a class="btn btn-mini" href="{% url 'client_update' object.pk %}"> <i class="icon-refresh"> </i>  update</a>
                    <a class="btn btn-mini" href="{% url 'matter_add' object.pk %}"> <i class="icon-refresh"> </i>  add case</a>
                    

            </td>


        </tr>
        </a>
        {% endfor %}
    </table>

    {% if is_paginated %}
        {% include "pagination.html" %}
    {% endif %}

</div>

{% endblock %}