{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<head>



</head>
<title>Law Centre - {{visit}}</title>
				
			

	<div class="page-header">
				
        <a href="{% url "matter_detail" visit.case.pk %}" role="button" class="btn btn-primary btn-large" data-toggle="modal">Back to case page</a>
        <a href="{% url "visit_update" visit.pk %}" role="button" class="btn btn-primary btn-large" data-toggle="modal">Update Visit</a>
	</div>


		

				<div class="page-header">
				<h3>Visit page: {{visit}}</h3>
				</div>
						<h4> Client Details </h4>
						
						<p> <b> Date visit </b> - {{ visit.date_of_visit|date:"D d M Y" }}</p> 
						<p> <b> Full Initials </b> - {{ visit.case }}</p> 
						<p> <b> Additional Notes </b>: <pre style="word-break: normal"> {{ visit.additional_notes }}</pre></p> 
						

			






{% endblock %}